.explorer_europe.list_wrap .input_field select {
    margin-bottom: 30px;
  }
  
  /* line 56, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe.list_wrap .input_field .check_1 {
    float: left;
    width: 50%;
    margin-bottom: 30px;
  }
  
  /* line 61, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe.list_wrap .input_field .nice-select {
    margin-bottom: 30px;
  }
  
  /* line 65, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe.list_wrap .nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #D5D5D5;
    font-size: 14px;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    width: auto;
    width: 100%;
    color: #727272;
  }
  
  /* line 82, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe.list_wrap .nice-select::after {
    content: "\e64b";
    display: block;
    height: 5px;
    margin-top: -5px;
    pointer-events: none;
    position: absolute;
    right: 30px;
    top: 3px;
    transition: all 0.15s ease-in-out;
    width: 5px;
    color: #919191;
  }
  
  /* line 97, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .explorer_wrap {
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 60px;
  }
  
  /* line 100, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .explorer_wrap .nav {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  
  /* line 104, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .explorer_wrap .nav a {
    font-size: 16px;
    color: #727272;
    font-size: 16px;
    padding: 40px 5px;
    margin: 0 13px;
    font-weight: 400;
  }
  
  @media (max-width: 767px) {
    /* line 104, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
    .explorer_europe .explorer_wrap .nav a {
      padding: 10px 5px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 104, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
    .explorer_europe .explorer_wrap .nav a {
      margin: 0 5px;
    }
  }
  
  /* line 118, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .explorer_wrap .nav a.active {
    color: #F91842;
    position: relative;
  }
  
  /* line 121, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .explorer_wrap .nav a.active::before {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #F91842;
    height: 3px;
    content: '';
    width: 100%;
  }
  
  /* line 133, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .explorer_wrap h3 {
    font-size: 42px;
    font-weight: 300;
    color: #001D38;
    margin-bottom: 0;
  }
  
  @media (max-width: 767px) {
    /* line 133, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
    .explorer_europe .explorer_wrap h3 {
      text-align: center;
      font-size: 30px;
      margin-bottom: 20px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 133, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
    .explorer_europe .explorer_wrap h3 {
      font-size: 30px;
    }
  }
  
  /* line 148, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .single_explorer {
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  /* line 152, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .single_explorer .thumb {
    overflow: hidden;
  }
  
  /* line 154, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .single_explorer .thumb img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  /* line 163, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .single_explorer .explorer_bottom {
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #EAEAEA;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  @media (max-width: 767px) {
    /* line 163, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
    .explorer_europe .single_explorer .explorer_bottom {
        padding-top: 8px;
        padding-bottom: 10px;
        padding-left: 8px;
        padding-right: 8px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 163, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
    .explorer_europe .single_explorer .explorer_bottom {
        padding-top: 8px;
        padding-bottom: 10px;
        padding-left: 8px;
        padding-right: 8px;
    }
  }
  
  /* line 175, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .single_explorer .explorer_bottom .icon {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #00D363;
    color: #fff;
    text-align: center;
    line-height: 50px;
  }
  
  /* line 183, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .single_explorer .explorer_bottom .icon i {
    font-size: 30px;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 175, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
    .explorer_europe .single_explorer .explorer_bottom .icon {
      margin-bottom: 20px;
    }
  }
  
  /* line 190, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .single_explorer .explorer_bottom .explorer_info {
  }
  
  /* line 194, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .single_explorer .explorer_bottom .explorer_info h3 a {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* line 202, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .single_explorer .explorer_bottom .explorer_info p {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 3px;
  }
  
  /* line 211, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .single_explorer .explorer_bottom .explorer_info ul li {
    font-size: 14px;
    color: #727272;
    line-height: 24px;
  }
  
  /* line 216, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .single_explorer .explorer_bottom .explorer_info ul li i {
    color: #FF8DA2;
    padding-right: 5px;
  }
  
  /* line 226, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .single_explorer:hover .thumb img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  /* line 232, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .single_explorer:hover .explorer_info h3 a {
    color: #063BAD !important;
  }
  
  /* line 239, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .col-md-6:nth-child(2) .single_explorer .explorer_bottom .icon {
    background: #FF5748;
  }
  
  /* line 242, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .col-md-6:nth-child(3) .single_explorer .explorer_bottom .icon {
    background: #D465EF;
  }
  
  /* line 245, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .col-md-6:nth-child(4) .single_explorer .explorer_bottom .icon {
    background: #5DB2FF;
  }
  
  /* line 248, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .col-md-6:nth-child(5) .single_explorer .explorer_bottom .icon {
    background: #FFD35A;
  }
  
  /* line 251, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_explorer.scss */
  .explorer_europe .col-md-6:nth-child(6) .single_explorer .explorer_bottom .icon {
    background: #37EBED;
  }