
.primary-text2{
	color:blue
}

.section-padding--small-sosmed{
	padding-top:30px
}
@media (min-width: 992px){
	.section-padding--small-sosmed{
		padding-top:30px
	}}


	.clockdiv{
		margin-bottom:35px
	}

	.clockdiv li{
		display:inline-block;
		margin-right:30px
	}

	@media (max-width: 320px){
		.clockdiv li{
			margin-right:0
	}}

	.clockdiv li:last-child{
		margin-right:0
	}

	.clockdiv h1{
		font-size:27px;
		font-weight:500;
		margin-bottom:0;
		line-height:1;
		color:#3b1d82
	}

	.clockdiv .smalltext{
		font-size:14px;
		font-weight:300
	}

	.clockdiv .clockdiv-single{
		width:130px;
		height:145px;
		text-align:center;
		padding-top:45px
	}

	.clockdiv .clockdiv-day{
		background:url(../images/countdown-day.png) left center no-repeat;
		background-size:cover
	}

	.clockdiv .clockdiv-hour{
		background:url(../images/countdown-hour.png) left center no-repeat;
		background-size:cover
	}

	.clockdiv .clockdiv-minute{
		background:url(../images/countdown-minute.png) left center no-repeat;
		background-size:cover
	}

	.sosmed-single{
		text-align:center;
		padding:10px;
		-webkit-transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
		-o-transition:all 0.3s ease 0s;
		transition:all 0.3s ease 0s;
		height:140px;
		position:relative;
		margin-bottom: 2%
	}

	.img-sosmed{
		height: 20vh;
		width: 20vh
	}
